<!--The content below is only a placeholder and can be replaced.-->
<div class="w3-container w3-teal w3-center w3-animate-top">
  <h1>
    TATA CLIQ 
  </h1>
 </div>

 <div class="w3-card-2 topnav w3-padding-16" id="topnav" style="position: relative; top: 0px;">
  <div style="overflow:auto;">
    <div class="w3-bar w3-left" style="width:70%;overflow:hidden;height:38px">
      <a class="w3-bar-item w3-button" routerLink="/home" routerLinkActive="active" title="Home">Home</a>
      <a class="w3-bar-item w3-button" routerLink="/dashboard" routerLinkActive="active" title="Dashboard">Dashboard</a>
      <a class="w3-bar-item w3-button" routerLink="/products" routerLinkActive="active" title="Products">Products</a>
      <a class="w3-bar-item w3-button" routerLink="/contact" routerLinkActive="active" title="Contact Us">Contact Us</a>
      </div>
      <div class="w3-bar-item w3-left w3-margin-small">
          <product-search></product-search>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
