.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:300px;
    height: 40px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  .search-result:hover {
    color: #eee;
    background-color: #607D8B;
  }
  
  #search-box{
    width: 300px;
    height: 40px;
    padding-bottom: 5px;
  }

  .w3-input{
    outline: none;
  }

  .w3-input:hover{
    border-bottom: 1px solid black;
  }

  .w3-input:focus{
    border-bottom: 1px solid black;
  }