<div class="w3-container w3-teal w3-center w3-animate-top">
        <h1>
          TATA CLIQ 
        </h1>
       </div>
      
       <div class="w3-card-2 topnav w3-padding-16" id="topnav" style="position: relative; top: 0px;">
        <div style="overflow:auto;">
          <div class="w3-bar w3-left" style="width:70%;overflow:hidden;height:38px">
            <a class="w3-bar-item w3-button" routerLink="/home" routerLinkActive="active" title="Home">Home</a>
            <a class="w3-bar-item w3-button" routerLink="/dashboard" routerLinkActive="active" title="Dashboard">Dashboard</a>
            <a class="w3-bar-item w3-button" routerLink="/products" routerLinkActive="active" title="Products">Products</a>
            <a class="w3-bar-item w3-button" routerLink="/contact" routerLinkActive="active" title="Contact Us">Contact Us</a>
            <a class="w3-bar-item w3-button" routerLink="/cart" routerLinkActive="active" title="Contact Us"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart<span class="w3-badge">{{cartItems}}</span>
              <div class="w3-tag w3-round w3-green" style="padding:3px">
                  <div class="w3-tag w3-round w3-green w3-border w3-border-white">
                      {{totalCartAmount | currency:'INR':true}}
                  </div>
                </div>
                </a> 
          </div>
            <div class="w3-bar-item w3-left w3-margin-small">
                <product-search></product-search>
            </div>
            <button class="w3-button" (click)="logout();">Logout</button>
        </div>
      </div>