.warning {
	visibility: hidden;
	color: white;
	font-weight: bold;
	width: 100%;
	z-index: 1;
	padding: 1%;
}

input[type=text], input[type=email], textarea , select{
	width: 100%;
	outline: none;
	border: thin solid #a9a9a9;
	padding: 2%;
}

#citymsg{
	visibility: hidden;
}
.box{
	box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
	z-index: 1;
	float: left;
	background: rgba(255,0,0,0.5);
	margin-left: 1%;
	background-image: url('images/tooltip.png');
	padding: 1.5%;
}
td{
	padding: 1%;
}
.clear{
	clear: both;
}
