<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<product-search></product-search>
<div class="w3-container w3-animate-zoom">
    <button class="w3-btn w3-green w3-right" [routerLink]="['/add-product']"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</button>
        <div class="w3-teal w3-card w3-padding-16 w3-center"><i class="fa fa-list" aria-hidden="true"></i> Product List</div>
          <table class="w3-table-all w3-hoverable"><thead>
                  <tr>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Delete</th>
                  <th>Edit</th>
                  <th>Detail</th>
                  </tr>
                </thead><tbody><tr *ngFor="let product of products" (click)="onSelect(product)">
                  <td>{{product.id}}</td>
                  <td><img [src]="product.thumbnail" style="height: 50px;width: 50px;"></td>
                  <td>{{product.name}}</td>
                  <td> ₹ {{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td><a class="w3-btn w3-red w3-round" (click)="delete(product); $event.stopPropagation()" ><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                  <td><a class="w3-btn w3-orange w3-round" [routerLink]="['/edit-product', product.id]"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                  <td><a class="w3-btn w3-orange w3-round" [routerLink]="['/detail', product.id]"><i class="fa fa-info" aria-hidden="true"></i></a></td>
                  </tr></tbody>
          </table>
</div>
